@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #fff;
  padding-top: 0px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.heading {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: 30px; /* Aumenta o espaço acima do título */
  margin-bottom: 10px; /* Reduz a margem abaixo do título */
}

.index_text, .ul, .li, .mensagem {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  width: 60%;
  height: 60px;
  background: #ffa500;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s linear;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background: #e69500;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  border-top: 1px solid lightgrey;
}

.buttons button {
  margin: 0 5px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 100px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  transition: all 0.25s ease;
}

.buttons button.quit {
  background: #fff;
  border: 1px solid #FF7800;
  color: #FF7800;
}

.buttons button.quit:hover {
  background: #FF7800;
  color: #fff;
}

.buttons button.cont {
  background-color: #FF7800;
  color: #fff;
}

.buttons button.cont:hover {
  background: #FF7800;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #FF7800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}
/* Estilos para a linha do tempo */
.linha-do-tempo-container {
  position: relative;
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
  margin-bottom: 70px; /* Ajuste a margem inferior conforme necessário */
}
#verPerfisButton {
  text-align: center;
  width: 100%; /* Ajuste a largura conforme necessário */
  background: #FF7800; 
  width: 300px;
  height: 30px;/* Outros estilos que desejar */
}
/* Adicione uma @media query para tornar o código responsivo */
.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  z-index: 10;
  outline: 20px solid #ccc;
  outline-offset: -20px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#slide1 { background-image: url('caminho-da-imagem-1.jpg'); }
#slide2 { background-image: url('caminho-da-imagem-2.jpg'); }
#slide3 { background-image: url('caminho-da-imagem-3.jpg'); }
#slide4 { background-image: url('caminho-da-imagem-4.jpg'); }
#slide5 { background-image: url('caminho-da-imagem-5.jpg'); }
#slide6 { background-image: url('caminho-da-imagem-6.jpg'); }

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner { left: 0%; }
.slider__nav:checked:nth-of-type(2) ~ .slider__inner { left: -100%; }
.slider__nav:checked:nth-of-type(3) ~ .slider__inner { left: -200%; }
.slider__nav:checked:nth-of-type(4) ~ .slider__inner { left: -300%; }
.slider__nav:checked:nth-of-type(5) ~ .slider__inner { left: -400%; }
.slider__nav:checked:nth-of-type(6) ~ .slider__inner { left: -500%; }
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}
/* Adicione uma @media query para tornar o código responsivo */
@media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 20px;
  }

  .heading {
    font-size: 22px;
  }

  .index_text {
    font-size: 16px;
  }

  .btn {
    width: 90%;
  }

  .loader {
    width: 40px;
    height: 40px;
  }

  .mensagem {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .mensagem h3 {
    font-size: 1.2em;
  }

  .mensagem p {
    font-size: 0.7em;
  }

  .mensagem p:nth-child(3) {
    font-size: 1em;
  }

  .mensagem hr,
  .mensagem p:nth-child(5) {
    margin-top: 5px;
    font-size: 0.5em;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

